.action-btn {
  @apply h-8 px-4 text-left flex items-center w-full;
  font-weight: inherit;

  &:hover {
    @apply bg-opacity-50 bg-gray-300;
  }

  .action-btn-icon-box {
    @apply rounded overflow-hidden border border-gray-300 text-center;
    width: 22px;
    height: 22px;
  }

  .action-btn-text {
    @apply ml-2 w-5/6 font-medium;
    color: inherit;
  }
}