body {
  background-color: #333;
  color: #fff;
}

.bk-block {
  display: flex;
}

.bk-bold {
  font-weight: bold;
}

.bk-italic {
  font-style: italic;
}

.bk-block a {
  cursor: pointer;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}
div[contenteditable=true] {
  border: 1px solid #ddd;
  color : #ccc;
  font-size: 12px;
  width: 300px;
  padding: 5px;
}