.block {

  &.text-block, &.title-block, &.numbered-block, &.bulleted-block {
    position: relative;
    max-width: 1488px;
    width: 100%;
    height: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    box-sizing: border-box;
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }

  .bk-text-contents {
    font-size: inherit;
    line-height: 1.2;
    height: auto;
    color : inherit;
    width: 100%;
    white-space: pre-wrap;
    box-sizing: border-box;

  &[contenteditable=true] {
    position: relative;
    &:focus {
      outline: none;
    }

    &:empty:hover:before {
      color: rgba(255, 255, 255, 0.3);
      content: attr(placeholder);
      display: block; /* For Firefox */
      font-size: 1em;
    }

  }

    a {
      cursor: pointer;
    }

  }

  .bk-style-toggles {
    display: block;

    .bk-textStyleToggle {
      width: 20px;
    }

    .bk-colorStyleToggle {
      width: 50px;
    }
  }

  .bk-textStyleToggle.del{
    background-color: rgb(36, 142, 230);
    color: rgb(224, 196, 36);
  }

  &.title-block {
    font: {
      size: 2.25em;
      weight: 600;
    }
  }
  
  .bk-h1 {
    font: {
      size: 2em;
      weight: 500;
    }
  }
  
  .bk-h2 {
    font: {
      size: 1.75em;
      weight: 500;
    } 
  }
  
  .bk-h3 {
    font: {
      size: 1.5em;
      weight: 500;
    } 
  }
  
  .bk-h4 {
    font: {
      size: 1.25em;
      weight: 500;
    } 
  }
  
  .bk-p {
    font-size: 1em;
    line-height: 1.5;
  }

}


