.portfolio {
  width: 100%;
  overflow: auto;

  .cover-area {
    width: 100%;
    background-color: #ff0;

    .profile-photo {
      overflow: hidden;
      width: 200px;
      height: 200px;
      
      img {
        width: 100%;
      }
    }
  }
}