.block-scroll-menu2 {
  @apply h-auto rounded shadow-md overflow-auto h-auto border border-gray-200 bg-white dark:bg-black;
  max-height: 50vh;

  .title {
    @apply uppercase text-gray-600 font-medium px-4 text-left mt-2 mb-2.5;
    font-size: 11px;
  }

  .action-btn {
    @apply h-8 px-4 text-left flex items-center rounded;
    width: 180px;
    font-weight: inherit;

    &:hover {
      @apply bg-opacity-50 bg-gray-300;
    }

    .action-btn-icon-box {
      @apply rounded overflow-hidden border border-gray-300;
      width: 22px;
      height: 22px;
    }

    .action-btn-text {
      @apply ml-2;
      color: inherit;
    }
  }
}