.sorted-text-zone {
  .block-sort-text {
    height: full;
    width: 30px;
    text-align: center;
  }

  .block-contents-container {
    @apply flex justify-start;

    .list-tag {
      @apply mr-4 h-full w-4 text-center mx-px;
      font-size: inherit;
      line-height: 1.2;
      margin-top: 1px;
      margin-bottom: 1px;

      &.bk-h1 {
        font: {
          size: 1.8em;
          weight: 500;
        }
        line-height: 48px;
      }
      
      &.bk-h2 {
        font: {
          size: 1.5em;
          weight: 500;
        } 
        line-height: 42px;
      }
      
      &.bk-h3 {
        font: {
          size: 1.25em;
          weight: 500;
        } 
        line-height: 35px;
      }
      
      &.bk-h4 {
        font: {
          size: 1.1em;
          weight: 500;
          line-height: 35px;
        } 
        line-height: 30px;
      }
      
      &.bk-p {
        font-size: 1em;
        line-height: 24px;
      }
    }

    .bulleted {
      &.bk-h1 {
        font: {
          size: 14px;
          weight: 500;
        }
        line-height: 48px;
      }
      
      &.bk-h2 {
        font: {
          size: 13px;
          weight: 500;
        } 
        line-height: 42px;
      }
      
      &.bk-h3 {
        font: {
          size: 12px;
          weight: 500;
        } 
        line-height: 35px;
      }
      
      &.bk-h4 {
        font: {
          size: 10px;
          weight: 500;
          line-height: 35px;
        } 
        line-height: 30px;
      }
      
      &.bk-p {
        font-size: 10px;
        line-height: 24px;
      }
    }
  }
}