

.block-container {
  width: 944px;
  margin-left: -44px;
  flex-shrink: 0;
  flex-grow: 1;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5;
  padding-left: calc(96px + env(safe-area-inset-left));
  padding-right: calc(96px + env(safe-area-inset-right));
  padding-bottom: 30vh;
  margin: 0 auto;
}

.cover {
  height: 25vh;
  background-color: lightcoral;
}

// .blocklog {
//   align-items: center;
//   width: 1200px;
//   margin: 0 auto;
// }

.block-zone {
  position: relative;

  .bk-block {
    position: relative;
    max-width: 1488px;
    width: 100%;
    height: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 44px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    
    .cover {
      display: none;
  
      &.selectable {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 170, 220, 0.2);
        z-index: 81;
        opacity: 1;
      }
  }
  
  }

  .block-utils {
    position: absolute;
    height: 24px;
    left: 0px;
    top: 3px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: rgba(55, 53, 47, 0.3);
    font-weight: 300;
    z-index: 10;
  }
  
  .block-add-button {
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 3px;
  }
  
  .block-add-button:hover {
    background-color: rgba(187, 187, 187, 0.315);
  }

  .block-type-change-button {
    width: 20px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 3px;
  }
  
  .block-type-change-button:hover {
    background-color: rgba(187, 187, 187, 0.315);
  }

  .block-cover {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 0px;

    .down {
      width: 100%;
      height: auto;
      padding-left: 40px;
      position: absolute;
      z-index: 15;
      left: 0px;
      bottom: 0px;
      height: 5px;
      background-color: rgba(163, 203, 255, 0.24);

      .box {
        width: 100%;
        height: 100%;
      }

      &.on {
        padding: 6px 0px 0px 40px;
        bottom: -2px;

        .box {
          background-color: rgba(163, 203, 255, 0.24);
        }
      }
    }

  }
}

.bk-block {
  display: flex;

  [contenteditable=true]:empty:hover:before{
    color: rgba(255, 255, 255, 0.3);
    content: attr(placeholder);
    display: block; /* For Firefox */
    font-size: 1em;
  }

  .bk-del {
    display: none;
    color: #ccc;
    background-color: transparent;
    outline: none;
    border: none;
    box-sizing: border-box;
  }

  &:hover {
    .bk-del {
      display: block;
    }   
  }

  div[contenteditable=true] {
    /* border: 1px solid #ddd; */
    color : inherit;
    width: 1024px;
    word-wrap:break-word;
    white-space: pre-wrap;
    box-sizing: border-box;
    padding: 3px 2px;
    cursor: text;

    &:focus {
      outline: none;
    }
  }
  
  .bk-style-toggles {
    display: block;
  }
  
  .bk-textStyleToggle.del{
    background-color: rgb(36, 142, 230);
    color: rgb(224, 196, 36);
  }

  .heading {
    font-weight: 600;
  }

  .bk-title {
    font: {
      size: 2em;
    }
  }

  .bk-h1 {
    font: {
      size: 2em;
      weight: 600;
    }
    line-height: 1.2;
  }
  
  .bk-h2 {
    font-size: 1.75em;
  }
  
  .bk-h3 {
    font-size: 1.5em;
  }
  
  .bk-h4 {
    font-size: 1.25em;
  }
  
  .bk-p {
    font-size: 1em;
    line-height: 1.5;
  }

  .bk-bold {
    font-weight: bold;
  }

  .bk-italic {
    font-style: italic;
  }

  .a {
    cursor: pointer;
  }
}