.gnb {
  @apply bg-opacity-50 dark:bg-opacity-40 dark:bg-gray-900 text-gray-700 dark:text-gray-100 border-b border-gray-200 dark:border-gray-700 left-0 top-0 w-full;
  
  z-index: 99;
  background-color: rgba(251, 251, 251, var(--tw-bg-opacity));
  backdrop-filter: saturate(180%) blur(10px);

  .gnb-container {
    @apply w-full pr-4 pl-1;
    
    .gnb-inner-container {
      @apply flex items-center justify-end h-14;

      .gnb-left-area {
        .gnb-left-desktop {
          @apply hidden md:flex items-center space-x-4 mr-4;
        } 
      }

      .right-area {

      }
    }

    .dark-mode-toggle {
      button {
        line-height: 14px;
      }
    }
  
  }
}