.block-zone {
  position: relative;
  width: 100%;
  padding: 3px 2px;
  opacity: 1;
  transition: all 0.3s ease-in-out;

&.selected {
  opacity: 0.2;
}

  .block-contents-area {
    position: relative;
    padding-left: 50px;
    padding-right: 10px;
    box-sizing: border-box;

    .block-utils-menubar {
      position: absolute;
      height: 24px;
      left: 0px;
      top: calc(50% - 12px);
      justify-content: space-between;
      font-size: 14px;
      color: rgba(55, 53, 47, 0.3);
      font-weight: 300;
      z-index: 20;
      display: none;

      .block-add-button-box {

        .block-add-button {
          width: 24px;
          height: 24px;
          text-align: center;
          line-height: 24px;
          border-radius: 3px;

          &:hover {
            background-color: rgba(187, 187, 187, 0.315);
          }
        }

      }

      .block-type-change-button-box {
        position: relative;

        .block-type-change-button {
          width: 20px;
          height: 24px;
          text-align: center;
          line-height: 24px;
          border-radius: 3px;

          &:hover {
            background-color: rgba(187, 187, 187, 0.315);
          }
        }

      }

    }

  &:hover {
    .block-utils-menubar {
      display: flex;
    }
  }

  }

  .block-select-area {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 0px;
    box-sizing: border-box;
    padding-left: 44px;

  &.selected {
    z-index: 15;
  }

    .select-area-container {
      position: relative;
      width: 100%;

      .area {
        position: absolute;
        z-index: 18;
        box-sizing: content-box;

      &.right-drop-area {

      }

      &.down-drop-area {
        width: 100%;
        left: 0px;
        bottom: 0px;
        height: 5px;
  
      &.on {
        padding: 4px 0;
        bottom: -4px;
      }

      }

        .box {
          width: 100%;
          height: 100%;
        }

      }

      .on {
        .box {
          background-color: rgba(163, 203, 255, 0.5);
        }
      }

    }

  }

}