@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body {
  background-color: #333;
  font-family: 'Noto Sans KR', sans-serif;
}

.App {
  &.black-mode {
    background-color: #333;
    color: #fff;
  }
  
  &.white-mode {
    background-color: #fff;
    color: #000;
  }
}