@import './base.scss';

.blur-bg {
  @apply bg-opacity-70 bg-white dark:bg-black;
  backdrop-filter: saturate(180%) blur(10px);
}

.app {
  @apply w-screen h-screen;

	&.light {
		@apply text-gray-700 bg-gray-100;
	}

	&.dark {
		@apply bg-gray-900 text-gray-100;
	}

}

.gradient {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

.gradient-hover {
  &:hover {
    background: linear-gradient(-45deg, #df6b48, #d1316e, #1e90b9, #19b994);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
