@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body {
  font-family: 'Noto Sans KR', sans-serif;
}
button {
  outline: none;
}
button:active {
  outline: none;
}
button:hover {
  outline: none;
}
button:focus {
  outline: none !important;
}