@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap'); 

.not-found-page {
  @apply w-full h-full box-border bg-gray-800 overflow-hidden p-4;

  color: #fff;
  font-size: 16px;
  font-family: 'Open Sans',sans-serif;

  .not-found-page-container {
    width: calc(100% - 100px);
    max-width: 700px;
    min-width: 300px;
    height: 100%;
    margin: 0 auto;
    padding: 50px;
  }

  h1 {
    font-size: 16rem;
  }

  h2 {
    font-size: 6rem;
    font-weight: 700;
    color: #f48f8f;
  }

  .return-home {
    margin-top: 30px;

    a {
      font-size: 1.6em;
      font-weight: 700;
      color: #fff;
  
      &:hover {
        text-shadow: 1px 0.4px 3px rgba(0, 0, 0, 0.5);
        text-decoration: underline;
      }
  
    }

  }
  
}